<form action="/users" method="post">
  <div>
    <label for="user_name">Name:</label>
    <input type="user[first_name]" type="text" id="user_name">
  </div>
  <div>
    <label for="email_address">Email:</label>
    <input type="user[email_address]" type="text" id="email_address">
  </div>
  <div>
    <button type="submit">Email Me</button>
  </div>
</form>